<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
        <title>Report</title>
    
        <!-- Bootstrap core CSS -->
        <link href="../../css/editor.css" rel="stylesheet">
    
        <!-- Custom styles for this template -->
        <link href="narrow-jumbotron.css" rel="stylesheet">
      </head>
<body>
    <p>Anda merupakan Admin</p>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Username</th>
            <th scope="col">Ban Reason</th>
            <th scope="col">Timeout Profile</th>
            <th scope="col">Delete Profile</th>
          </tr>
        </thead>
        
        <tbody>
            {% for i in list %}
        
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{ i.0 }}</td>                 
                    <td>{{ i.1 }}</td> 
                    <td>
                        <a href="timeout_user/{{i.0}}">Timeout</a>
                    </td>  
                    <td>
                        <a href="delete_user/{{i.0}}">Delete</a>
                    </td>                              
                </tr>
            {% endfor %}
        </tbody>
      </table>

</body>
</html>