<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <title>Pacil in Love</title>
</head>
{% include 'navbar.html' %}

<body class="container">

    <div class="container rounded bg-white mt-5 mb-5">
        <div class="col-md-9"><a href="{% url 'profile:profile' %}"><button type="button" class="btn btn-outline-primary">Back</button></a></div>
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Profile Setting</h4>
        </div>
        <div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="row mt-3 form-group">
                    <div class="card mb-3 content">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3"><h5>Profile Picture</h5></div>
                                <div class="col-md-9"><h5>{{ form.image }}</h5></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3"><h5>Full Name</h5></div>
                                <div class="col-md-9 text-secondary"><h5>{{ form.name }}</h5></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3"><h5>Gender</h5></div>
                                <div class="col-md-9 text-secondary"><h5>{{ form.gender }}</h5></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3"><h5>Phone</h5></div>
                                <div class="col-md-9 text-secondary"><h5>{{ form.phone }}</h5></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3"><h5>Age</h5></div>
                                <div class="col-md-9 text-secondary"><h5>{{ form.umur }}</h5></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3"><h5>Hobby</h5></div>
                                <div class="col-md-9 text-secondary"><h5>{{ form.hobby }}</h5></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9"><button class="btn btn-outline-primary">Submit</button></div>
            </form>
        </div>
    </div>
    
</body>
</html>